services:
  app:
    image: lscr.io/linuxserver/code-server
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - DEFAULT_WORKSPACE=/files
      - PASSWORD
      - CADDY_DOMAIN=${CADDY_DOMAIN}
      - CADDY_TYPE=${CADDY_TYPE:-internal}
      - CADDY_PORT=${CADDY_PORT:-8443}
    volumes:
      - smarthome_app_conf:/files/homeassistant
      - app_conf:/config
      - $PWD/..:/files/services
    networks:
      - caddy

networks:
  caddy:

volumes:
  app_conf:
  smarthome_app_conf:
    external: true
